## Performing Matiks Data Analysis tasks

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("matiks.csv")

In [3]:
df.head()

,User_ID,Username,Email,Signup_Date,Last_Login,Country,Age,Gender,Device_Type,Game_Title,Total_Play_Sessions,Avg_Session_Duration_Min,Total_Hours_Played,In_Game_Purchases_Count,Total_Revenue_USD,Subscription_Tier,Referral_Source,Preferred_Game_Mode,Rank_Tier,Achievement_Score
0,7280e6c4-6f7c-45dd-a8fc-c58389ea8e07,geoffreyanderson,haleymitchell@gmail.com,2024-12-15,2025-05-19,Austria,22,Other,Mobile,MysticWar,21,5.78,38.41,6,27.50,Silver,Social Media,Co-op,Bronze,8721
1,23c48d4f-f5d0-4ff4-ba0f-2007441b9b57,riverachristian,masonmelissa@hotmail.com,2024-03-07,2025-05-12,Gabon,22,Other,PC,QuestRaid,22,32.53,129.02,10,2.50,Gold,Ads,Solo,Bronze,3572
2,cf8d530c-c137-4346-a78b-e76e36d45e2a,brownchris,mnichols@mcmillan.net,2023-10-19,2025-05-03,Ireland,36,Female,PC,QuestRaid,12,21.55,62.50,5,25.56,Silver,Organic,Solo,Platinum,1060
3,47fcbe87-a1c1-40c3-b450-1b5692f61538,christopher90,ttaylor@gmail.com,2023-09-28,2025-05-08,Belarus,23,Other,PC,QuestRaid,19,28.36,79.40,4,132.25,Silver,Friend,Multiplayer,Diamond,3591
4,0b620a32-9e77-4b4a-9931-f0b654bef095,vfreeman,amanda80@gmail.com,2024-08-09,2025-04-24,Slovenia,26,Other,PC,QuestRaid,18,17.63,86.70,6,20.79,Free,Friend,Multiplayer,Diamond,2666

In [4]:
df.tail()

,User_ID,Username,Email,Signup_Date,Last_Login,Country,Age,Gender,Device_Type,Game_Title,Total_Play_Sessions,Avg_Session_Duration_Min,Total_Hours_Played,In_Game_Purchases_Count,Total_Revenue_USD,Subscription_Tier,Referral_Source,Preferred_Game_Mode,Rank_Tier,Achievement_Score
9995,27bb6b21-5e30-4d70-8732-232fe08219e0,rebeccaphillips,oflores@yahoo.com,2023-06-01,2025-05-13,Panama,16,Male,Console,BattleZone,22,31.98,139.86,6,37.70,Platinum,Ads,Multiplayer,Silver,162
9996,726e019b-1992-442d-9879-07620da088d7,jimenezjeffery,fcampbell@shelton-edwards.biz,2024-07-02,2025-04-29,Fiji,28,Male,PC,QuestRaid,25,21.09,91.56,7,34.88,Gold,Ads,Solo,Diamond,228
9997,2532e569-359d-4841-84dd-be95ff8a93bf,graymatthew,tgarrett@king.com,2024-03-15,2025-04-22,Bermuda,42,Male,PC,BattleZone,28,20.71,138.75,4,0.48,Gold,Organic,Solo,Diamond,9948
9998,65991176-51e1-4ab6-9ec4-af8cba1969fd,brittany87,moorealyssa@gmail.com,2024-12-09,2025-05-19,American Samoa,44,Female,PC,QuestRaid,20,16.66,85.05,4,24.78,Silver,Social Media,Co-op,Platinum,3792
9999,736d469b-f23a-494d-b42f-26883c5f81ae,michaelgraham,lindacarter@gmail.com,2023-09-07,2025-05-02,Haiti,40,Female,Mobile,MysticWar,18,26.31,116.67,1,23.58,Platinum,Organic,Solo,Diamond,1545

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   User_ID                   10000 non-null  object
 1   Username                  10000 non-null  object
 2   Email                     10000 non-null  object
 3   Signup_Date               10000 non-null  object
 4   Last_Login                10000 non-null  object
 5   Country                   10000 non-null  object
 6   Age                       10000 non-null  int64
 7   Gender                    10000 non-null  object
 8   Device_Type               10000 non-null  object
 9   Game_Title                10000 non-null  object
 10  Total_Play_Sessions       10000 non-null  int64
 11  Avg_Session_Duration_Min  10000 non-null  float64
 12  Total_Hours_Played        10000 non-null  float64
 13  In_Game_Purchases_Count   10000 non-null  int64
 14  Total_Revenue_USD         10000 non-null  float64
 15  Subscription_Tier         10000 non-null  object
 16  Referral_Source           10000 non-null  object
 17  Preferred_Game_Mode       10000 non-null  object
 18  Rank_Tier                 10000 non-null  object
 19  Achievement_Score         10000 non-null  int64
dtypes: float64(3), int64(4), object(13)
memory usage: 1.5+ MB

In [11]:
df.isnull().sum()

User_ID                     0
Username                    0
Email                       0
Signup_Date                 0
Last_Login                  0
Country                     0
Age                         0
Gender                      0
Device_Type                 0
Game_Title                  0
Total_Play_Sessions         0
Avg_Session_Duration_Min    0
Total_Hours_Played          0
In_Game_Purchases_Count     0
Total_Revenue_USD           0
Subscription_Tier           0
Referral_Source             0
Preferred_Game_Mode         0
Rank_Tier                   0
Achievement_Score           0
dtype: int64

In [13]:
#changing datatype (from object to datetime) of signup and last signin date
df['Last_Login'] = pd.to_datetime(df['Last_Login'])
df['Signup_Date'] = pd.to_datetime(df['Signup_Date'])

In [15]:
# Ensuring datetime format for proper comparison
df = df[df['Last_Login'] > df['Signup_Date']]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9785 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   User_ID                   9785 non-null   object
 1   Username                  9785 non-null   object
 2   Email                     9785 non-null   object
 3   Signup_Date               9785 non-null   datetime64[ns]
 4   Last_Login                9785 non-null   datetime64[ns]
 5   Country                   9785 non-null   object
 6   Age                       9785 non-null   int64
 7   Gender                    9785 non-null   object
 8   Device_Type               9785 non-null   object
 9   Game_Title                9785 non-null   object
 10  Total_Play_Sessions       9785 non-null   int64
 11  Avg_Session_Duration_Min  9785 non-null   float64
 12  Total_Hours_Played        9785 non-null   float64
 13  In_Game_Purchases_Count   9785 non-null   int64
 14  Total_Revenue_USD         9785 non-null   float64
 15  Subscription_Tier         9785 non-null   object
 16  Referral_Source           9785 non-null   object
 17  Preferred_Game_Mode       9785 non-null   object
 18  Rank_Tier                 9785 non-null   object
 19  Achievement_Score         9785 non-null   int64
dtypes: datetime64[ns](2), float64(3), int64(4), object(11)
memory usage: 1.6+ MB

In [19]:
df['Total_Revenue_USD'].sum()

490692.64

In [21]:
# Creating additional columns for time granularity
df['login_date'] = df['Last_Login'].dt.date
df['login_week'] = df['Last_Login'].dt.to_period('W').apply(lambda r: r.start_time.date())
df['login_month'] = df['Last_Login'].dt.to_period('M').apply(lambda r: r.start_time.date())

# Daily active users
dau = df.groupby('login_date')['User_ID'].nunique().reset_index(name='DAU')

# Week;y active users
wau = df.groupby('login_week')['User_ID'].nunique().reset_index(name='WAU')

# Monthly active users
mau = df.groupby('login_month')['User_ID'].nunique().reset_index(name='MAU')

In [22]:
#Firstly, ensuring the 'login_date' is in datetime format

dau['login_date'] = pd.to_datetime(dau['login_date'])
dau['Weekday'] = dau['login_date'].dt.day_name()

In [23]:
df

,User_ID,Username,Email,Signup_Date,Last_Login,Country,Age,Gender,Device_Type,Game_Title,...,In_Game_Purchases_Count,Total_Revenue_USD,Subscription_Tier,Referral_Source,Preferred_Game_Mode,Rank_Tier,Achievement_Score,login_date,login_week,login_month
0,7280e6c4-6f7c-45dd-a8fc-c58389ea8e07,geoffreyanderson,haleymitchell@gmail.com,2024-12-15,2025-05-19,Austria,22,Other,Mobile,MysticWar,...,6,27.50,Silver,Social Media,Co-op,Bronze,8721,2025-05-19,2025-05-19,2025-05-01
1,23c48d4f-f5d0-4ff4-ba0f-2007441b9b57,riverachristian,masonmelissa@hotmail.com,2024-03-07,2025-05-12,Gabon,22,Other,PC,QuestRaid,...,10,2.50,Gold,Ads,Solo,Bronze,3572,2025-05-12,2025-05-12,2025-05-01
2,cf8d530c-c137-4346-a78b-e76e36d45e2a,brownchris,mnichols@mcmillan.net,2023-10-19,2025-05-03,Ireland,36,Female,PC,QuestRaid,...,5,25.56,Silver,Organic,Solo,Platinum,1060,2025-05-03,2025-04-28,2025-05-01
3,47fcbe87-a1c1-40c3-b450-1b5692f61538,christopher90,ttaylor@gmail.com,2023-09-28,2025-05-08,Belarus,23,Other,PC,QuestRaid,...,4,132.25,Silver,Friend,Multiplayer,Diamond,3591,2025-05-08,2025-05-05,2025-05-01
4,0b620a32-9e77-4b4a-9931-f0b654bef095,vfreeman,amanda80@gmail.com,2024-08-09,2025-04-24,Slovenia,26,Other,PC,QuestRaid,...,6,20.79,Free,Friend,Multiplayer,Diamond,2666,2025-04-24,2025-04-21,2025-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,27bb6b21-5e30-4d70-8732-232fe08219e0,rebeccaphillips,oflores@yahoo.com,2023-06-01,2025-05-13,Panama,16,Male,Console,BattleZone,...,6,37.70,Platinum,Ads,Multiplayer,Silver,162,2025-05-13,2025-05-12,2025-05-01
9996,726e019b-1992-442d-9879-07620da088d7,jimenezjeffery,fcampbell@shelton-edwards.biz,2024-07-02,2025-04-29,Fiji,28,Male,PC,QuestRaid,...,7,34.88,Gold,Ads,Solo,Diamond,228,2025-04-29,2025-04-28,2025-04-01
9997,2532e569-359d-4841-84dd-be95ff8a93bf,graymatthew,tgarrett@king.com,2024-03-15,2025-04-22,Bermuda,42,Male,PC,BattleZone,...,4,0.48,Gold,Organic,Solo,Diamond,9948,2025-04-22,2025-04-21,2025-04-01
9998,65991176-51e1-4ab6-9ec4-af8cba1969fd,brittany87,moorealyssa@gmail.com,2024-12-09,2025-05-19,American Samoa,44,Female,PC,QuestRaid,...,4,24.78,Silver,Social Media,Co-op,Platinum,3792,2025-05-19,2025-05-19,2025-05-01
9999,736d469b-f23a-494d-b42f-26883c5f81ae,michaelgraham,lindacarter@gmail.com,2023-09-07,2025-05-02,Haiti,40,Female,Mobile,MysticWar,...,1,23.58,Platinum,Organic,Solo,Diamond,1545,2025-05-02,2025-04-28,2025-05-01

### Daily active users
1. We take last login date to be their login date. dau is the daily active users. It may happen that their signup date was way older, but the last time they signed in will be counted as "active".
2. 

### Weekly active user
1. Weekday starts from Monday, hence, each login has been added to a week group going from monday to saturday, starting from the early last login (21 april 2025 to last 19 may 2025.)

### Monthly active user
1. last logins are in the month of April and May.

In [25]:
dau

   login_date  DAU    Weekday
0  2025-04-22  327    Tuesday
1  2025-04-23  304  Wednesday
2  2025-04-24  387   Thursday
3  2025-04-25  310     Friday
4  2025-04-26  299   Saturday
5  2025-04-27  335     Sunday
6  2025-04-28  316     Monday
7  2025-04-29  324    Tuesday
8  2025-04-30  312  Wednesday
9  2025-05-01  305   Thursday
10 2025-05-02  297     Friday
11 2025-05-03  333   Saturday
12 2025-05-04  347     Sunday
13 2025-05-05  328     Monday
14 2025-05-06  325    Tuesday
15 2025-05-07  349  Wednesday
16 2025-05-08  338   Thursday
17 2025-05-09  345     Friday
18 2025-05-10  327   Saturday
19 2025-05-11  309     Sunday
20 2025-05-12  333     Monday
21 2025-05-13  313    Tuesday
22 2025-05-14  330  Wednesday
23 2025-05-15  340   Thursday
24 2025-05-16  344     Friday
25 2025-05-17  320   Saturday
26 2025-05-18  331     Sunday
27 2025-05-19  300     Monday
28 2025-05-20  325    Tuesday
29 2025-05-21  332  Wednesday

In [26]:
wau

   login_week   WAU
0  2025-04-21  1962
1  2025-04-28  2234
2  2025-05-05  2321
3  2025-05-12  2311
4  2025-05-19   957

In [27]:
mau

  login_month   MAU
0  2025-04-01  2914
1  2025-05-01  6871

In [28]:
# Revenue Trends over time
revenue_trend = df.groupby('login_date')['Total_Revenue_USD'].sum().reset_index(name='Total_Revenue')

In [29]:
revenue_trend

    login_date  Total_Revenue
0   2025-04-22       15518.00
1   2025-04-23       16234.33
2   2025-04-24       18483.57
3   2025-04-25       15617.15
4   2025-04-26       14656.67
5   2025-04-27       15707.59
6   2025-04-28       15613.24
7   2025-04-29       16332.13
8   2025-04-30       14744.53
9   2025-05-01       14109.48
10  2025-05-02       15397.53
11  2025-05-03       16793.01
12  2025-05-04       17953.54
13  2025-05-05       17049.46
14  2025-05-06       16110.20
15  2025-05-07       15717.17
16  2025-05-08       16970.55
17  2025-05-09       15897.17
18  2025-05-10       16437.55
19  2025-05-11       14567.68
20  2025-05-12       18273.29
21  2025-05-13       15283.90
22  2025-05-14       19215.95
23  2025-05-15       17185.93
24  2025-05-16       18331.39
25  2025-05-17       16899.06
26  2025-05-18       15790.76
27  2025-05-19       16948.18
28  2025-05-20       17029.52
29  2025-05-21       15824.11

In [30]:
#Revenue generated by device

device_count=df['Device_Type'].value_counts().reset_index()
device_revenue = df.groupby('Device_Type')['Total_Revenue_USD'].sum().reset_index()
device_count

  Device_Type  count
0     Console   3332
1      Mobile   3234
2          PC   3219

In [38]:
device_revenue

  Device_Type  Total_Revenue_USD
0     Console          165809.47
1      Mobile          162288.10
2          PC          162595.07

In [42]:
# revenue generated by Subscription tier 

tier_usage = df['Subscription_Tier'].value_counts().reset_index(name='Count')
tier_usage_revenue=df.groupby('Subscription_Tier')['Total_Revenue_USD'].sum().reset_index()

tier_usage

  Subscription_Tier  Count
0              Free   2486
1              Gold   2480
2            Silver   2467
3          Platinum   2352

In [44]:
tier_usage_revenue

  Subscription_Tier  Total_Revenue_USD
0              Free          126239.08
1              Gold          122565.17
2          Platinum          118119.21
3            Silver          123769.18

In [46]:
# revenue generated by Game mode

game_mode_usage = df['Preferred_Game_Mode'].value_counts().reset_index(name='Count')
game_mode_usage_revenue=df.groupby('Preferred_Game_Mode')['Total_Revenue_USD'].sum().reset_index()
game_mode_usage

  Preferred_Game_Mode  Count
0         Multiplayer   3310
1               Co-op   3281
2                Solo   3194

In [48]:
game_mode_usage_revenue

  Preferred_Game_Mode  Total_Revenue_USD
0               Co-op          165355.56
1         Multiplayer          166436.79
2                Solo          158900.29

In [50]:
#Revenue generated by different Gender

usage_by_gender= df["Gender"].value_counts().reset_index(name='Count')
revenue_by_gender=df.groupby('Gender')['Total_Revenue_USD'].sum().reset_index()

usage_by_gender

   Gender  Count
0    Male   3302
1  Female   3262
2   Other   3221

In [52]:
revenue_by_gender

   Gender  Total_Revenue_USD
0  Female          163713.82
1    Male          164988.71
2   Other          161990.11

In [54]:
### Behavioral Pattern: Active days and usage frequency

In [56]:
# Most active weekdays
df['Weekday'] = df['Last_Login'].dt.day_name()
active_days = df['Weekday'].value_counts().reset_index()
active_days.columns = ['Weekday', 'Login_Count']

In [58]:
# User login frequency
user_login_freq = df.groupby('User_ID')['Last_Login'].nunique().reset_index(name='Login_Days')

In [60]:
active_days

     Weekday  Login_Count
0  Wednesday         1627
1    Tuesday         1614
2   Thursday         1370
3     Sunday         1322
4     Friday         1296
5   Saturday         1279
6     Monday         1277

In [62]:
user_login_freq

                                   User_ID  Login_Days
0     00079902-13c1-4102-9288-a404ecc1133e           1
1     00126f0c-8304-48c5-ad45-de9ce57f4dc9           1
2     0012ade9-4b67-46b8-b5a9-c1271550aa63           1
3     0016b26e-c453-474f-bde4-3082018b608f           1
4     0018bf27-0fb0-482d-a2ed-647938e36d11           1
...                                    ...         ...
9780  ffe180de-dbdb-4235-9bea-ddf3e8ad0e28           1
9781  ffe80e06-88c7-4709-8e98-fdfa8cc3fa46           1
9782  fff04278-68b1-48de-846e-4646cf7b70e6           1
9783  fff51b45-81fe-4a65-9a47-891248915117           1
9784  fff9dbf8-94dc-4059-9dba-bfd24af3be09           1

[9785 rows x 2 columns]

In [64]:
avg_login_days = user_login_freq['Login_Days'].mean()
print(avg_login_days)

1.0

In [66]:
# Early Signs of Churn
# 1. Long Gaps Between Sign-up and Last Login

df['Days_To_Churn'] = (df['Last_Login'] - df['Signup_Date']).dt.days
early_churners = df[df['Days_To_Churn'] <= 3]

# 2. Low Session or Playtime Users

low_session_users = df[df['Total_Play_Sessions'] <= 2]
low_time_users = df[df['Total_Hours_Played'] < 1]

In [68]:
early_churners

,User_ID,Username,Email,Signup_Date,Last_Login,Country,Age,Gender,Device_Type,Game_Title,...,Subscription_Tier,Referral_Source,Preferred_Game_Mode,Rank_Tier,Achievement_Score,login_date,login_week,login_month,Weekday,Days_To_Churn
120,12e60c05-d30e-4b3d-a9de-b27f1e3664ce,inelson,ronaldcollins@yahoo.com,2025-05-08,2025-05-09,Palau,13,Female,Console,SpeedRun,...,Gold,Ads,Multiplayer,Bronze,6870,2025-05-09,2025-05-05,2025-05-01,Friday,1
446,e9151ab5-a0ea-487c-89b7-268f80925724,darleneyoung,jenniferjames@mills.com,2025-04-26,2025-04-27,Bermuda,24,Male,Console,MysticWar,...,Platinum,Friend,Solo,Diamond,8198,2025-04-27,2025-04-21,2025-04-01,Sunday,1
534,72003be7-cbfe-4e67-99ef-851cdb2a3226,williamsphilip,chaseblair@stuart-stone.com,2025-05-03,2025-05-06,Morocco,39,Other,PC,SpeedRun,...,Gold,Ads,Solo,Silver,9089,2025-05-06,2025-05-05,2025-05-01,Tuesday,3
626,67d9d8fc-7927-44c7-a1c3-132d4d5d13f3,gonzalezkatie,matthewanderson@moore.com,2025-05-04,2025-05-05,Cayman Islands,42,Female,Console,QuestRaid,...,Silver,Social Media,Multiplayer,Gold,937,2025-05-05,2025-05-05,2025-05-01,Monday,1
791,acc5620b-5a2d-4cdb-8c3e-afa3c648cf4d,thomaswhitehead,wintersmichael@massey-collier.com,2025-05-16,2025-05-18,Niger,30,Other,Console,QuestRaid,...,Free,Organic,Multiplayer,Gold,3665,2025-05-18,2025-05-12,2025-05-01,Sunday,2
828,33145658-1541-4faa-a608-f9ef7cc65887,collinsthomas,aconway@hotmail.com,2025-04-25,2025-04-28,Serbia,18,Male,PC,SpeedRun,...,Free,Ads,Multiplayer,Gold,893,2025-04-28,2025-04-28,2025-04-01,Monday,3
1003,f2257b47-5833-411f-a6d7-c8d135fb99b1,wyattmorales,ericwilcox@gmail.com,2025-04-26,2025-04-27,Bermuda,31,Female,PC,QuestRaid,...,Platinum,Organic,Multiplayer,Silver,9417,2025-04-27,2025-04-21,2025-04-01,Sunday,1
1097,dc10ebd1-404d-4056-a3d2-076e682b4767,josematthews,charlesanderson@cruz.net,2025-04-30,2025-05-03,Kenya,19,Female,Console,QuestRaid,...,Gold,Social Media,Multiplayer,Bronze,8275,2025-05-03,2025-04-28,2025-05-01,Saturday,3
1471,7bd39ffd-95b2-486b-a807-a92614f42c42,shannonelliott,jonesnathan@brown.info,2025-05-03,2025-05-05,Pitcairn Islands,30,Other,PC,QuestRaid,...,Silver,Organic,Co-op,Gold,8048,2025-05-05,2025-05-05,2025-05-01,Monday,2
1555,978a3be0-e5b5-464e-9797-66089a04a52a,zacharyberry,turnercheryl@gibson.net,2025-05-09,2025-05-10,American Samoa,47,Male,Mobile,QuestRaid,...,Platinum,Social Media,Co-op,Platinum,7035,2025-05-10,2025-05-05,2025-05-01,Saturday,1
2294,49710b65-58e8-44d9-be5c-01ba5b761dd0,melvin85,alexis04@hotmail.com,2025-05-08,2025-05-09,San Marino,33,Other,Console,SpeedRun,...,Gold,Organic,Co-op,Bronze,3629,2025-05-09,2025-05-05,2025-05-01,Friday,1
2795,a025c31f-7cbb-4edc-96cf-f82091885051,robertokirk,itorres@saunders-davidson.com,2025-05-13,2025-05-16,Zimbabwe,33,Male,Mobile,BattleZone,...,Free,Friend,Multiplayer,Silver,8980,2025-05-16,2025-05-12,2025-05-01,Friday,3
3158,8bb43914-444b-45b0-9697-fd5ecda06957,mpeters,michael96@yahoo.com,2025-05-08,2025-05-10,Tanzania,29,Other,Mobile,SpeedRun,...,Gold,Social Media,Solo,Silver,1477,2025-05-10,2025-05-05,2025-05-01,Saturday,2
3852,10c6daaf-5242-4a1d-b89f-df38f4ebd278,denisefoster,daniellebenton@yahoo.com,2025-05-15,2025-05-17,Isle of Man,29,Female,Mobile,MysticWar,...,Free,Ads,Co-op,Diamond,8795,2025-05-17,2025-05-12,2025-05-01,Saturday,2
3864,06d63688-9932-4a2e-b353-fe82d5b3386d,hhernandez,scantrell@davis-martinez.com,2025-05-01,2025-05-04,Tonga,26,Other,Console,SpeedRun,...,Platinum,Organic,Multiplayer,Platinum,5500,2025-05-04,2025-04-28,2025-05-01,Sunday,3
4118,1cf75692-6f57-48c4-b76c-f205ec1ceae2,lydia61,keith14@yahoo.com,2025-05-14,2025-05-16,Togo,44,Other,PC,SpeedRun,...,Free,Ads,Co-op,Bronze,9560,2025-05-16,2025-05-12,2025-05-01,Friday,2
4655,30e66c5d-e0fb-4178-b8a1-e70d9f3dbfa9,joelferguson,michaelcampbell@yahoo.com,2025-05-14,2025-05-16,Congo,24,Other,Mobile,SpeedRun,...,Platinum,Friend,Multiplayer,Bronze,3576,2025-05-16,2025-05-12,2025-05-01,Friday,2
4982,cf72061e-fa70-483d-8132-a7c6e54340dd,jessica87,holly66@hotmail.com,2025-04-30,2025-05-03,Cayman Islands,48,Other,PC,SpeedRun,...,Silver,Organic,Solo,Bronze,8595,2025-05-03,2025-04-28,2025-05-01,Saturday,3
5071,fc6a34f7-68d6-452a-b382-3335f21c460c,matthew45,matthewhamilton@gonzales.com,2025-05-06,2025-05-09,Bouvet Island (Bouvetoya),28,Male,Console,MysticWar,...,Silver,Friend,Multiplayer,Gold,5701,2025-05-09,2025-05-05,2025-05-01,Friday,3
5435,99de6965-6646-4468-9604-b9b885ffaeab,jennifer89,enoble@boyer-burns.com,2025-05-17,2025-05-18,Taiwan,40,Other,PC,SpeedRun,...,Free,Ads,Multiplayer,Diamond,4920,2025-05-18,2025-05-12,2025-05-01,Sunday,1
5705,737cc26e-6848-4006-ab05-73c200f0c703,petersoncharles,hernandezmelissa@yahoo.com,2025-04-23,2025-04-24,Brazil,30,Male,Console,BattleZone,...,Platinum,Social Media,Multiplayer,Gold,7734,2025-04-24,2025-04-21,2025-04-01,Thursday,1
5813,4f12a31e-5905-45ae-8343-e250b08aaa10,halexander,smelendez@barron.info,2025-05-11,2025-05-12,Wallis and Futuna,48,Male,PC,QuestRaid,...,Free,Ads,Co-op,Gold,2921,2025-05-12,2025-05-12,2025-05-01,Monday,1
5920,f0119e21-c966-4040-b13e-fb00e2842925,donna36,tammy90@gmail.com,2025-05-11,2025-05-13,Belize,19,Female,PC,SpeedRun,...,Silver,Friend,Co-op,Diamond,3270,2025-05-13,2025-05-12,2025-05-01,Tuesday,2
5958,fdfe652c-168b-4c05-aa0a-347d636b80cd,zcarr,michael43@simmons.biz,2025-05-04,2025-05-06,Afghanistan,17,Male,Console,SpeedRun,...,Platinum,Friend,Co-op,Gold,1617,2025-05-06,2025-05-05,2025-05-01,Tuesday,2
6226,d78cb29b-f136-4924-9c47-fc3542a0a641,taylorrodriguez,tina95@oliver-hernandez.com,2025-05-05,2025-05-07,Guatemala,13,Male,Console,MysticWar,...,Free,Organic,Co-op,Bronze,1439,2025-05-07,2025-05-05,2025-05-01,Wednesday,2
6814,23796b38-f9e7-4d73-882c-070e924b5802,ucollins,seanhahn@yahoo.com,2025-05-02,2025-05-03,Chile,17,Other,PC,BattleZone,...,Free,Ads,Multiplayer,Bronze,2829,2025-05-03,2025-04-28,2025-05-01,Saturday,1
6876,e45c7e51-b055-4af7-88f9-973b26940f79,michaelanderson,bhess@hotmail.com,2025-04-28,2025-04-29,Ethiopia,31,Male,Console,QuestRaid,...,Platinum,Friend,Multiplayer,Diamond,467,2025-04-29,2025-04-28,2025-04-01,Tuesday,1
7153,d98412c9-4de9-4757-9137-d8912dfa877a,paynebrad,joseph38@wagner.com,2025-05-12,2025-05-15,Benin,33,Other,Mobile,MysticWar,...,Silver,Social Media,Multiplayer,Gold,7137,2025-05-15,2025-05-12,2025-05-01,Thursday,3
7788,8bef84d8-03ea-41e4-96c6-06e32739d1f9,lthomas,twilliams@hotmail.com,2025-05-11,2025-05-12,Uganda,38,Female,Mobile,BattleZone,...,Silver,Friend,Multiplayer,Bronze,7877,2025-05-12,2025-05-12,2025-05-01,Monday,1
7901,e52e38e1-db83-400c-836e-6acec82900a4,patricklee,riggskatrina@yahoo.com,2025-05-07,2025-05-09,Latvia,46,Other,Console,QuestRaid,...,Platinum,Ads,Solo,Bronze,5180,2025-05-09,2025-05-05,2025-05-01,Friday,2
7904,30c8af06-8797-4af0-869f-b72e422e9766,richardangela,bethwilliams@yahoo.com,2025-05-08,2025-05-11,Venezuela,39,Female,PC,BattleZone,...,Platinum,Social Media,Multiplayer,Gold,4017,2025-05-11,2025-05-05,2025-05-01,Sunday,3
8471,2442f112-5498-4db4-b0aa-7da579223559,uduffy,daniel09@callahan.biz,2025-04-21,2025-04-24,Georgia,47,Other,PC,BattleZone,...,Free,Ads,Multiplayer,Platinum,5912,2025-04-24,2025-04-21,2025-04-01,Thursday,3
8813,52f807f3-2c9c-414f-94de-777f8a757cfa,andrew04,allen41@shah-nelson.org,2025-04-22,2025-04-25,Uruguay,46,Other,Console,MysticWar,...,Platinum,Ads,Co-op,Silver,3913,2025-04-25,2025-04-21,2025-04-01,Friday,3
8919,31e7e8ea-31e6-4a35-a7c8-70c22bd3f7f1,christinaarnold,batesclinton@hotmail.com,2025-04-30,2025-05-01,Lao People's Democratic Republic,47,Male,Mobile,QuestRaid,...,Gold,Ads,Multiplayer,Bronze,6680,2025-05-01,2025-04-28,2025-05-01,Thursday,1
9212,070c228c-8708-4543-8ceb-14714fd338b0,ndelacruz,heatherbrowning@west.com,2025-04-21,2025-04-22,Bermuda,28,Other,PC,MysticWar,...,Platinum,Organic,Co-op,Gold,7538,2025-04-22,2025-04-21,2025-04-01,Tuesday,1
9249,ffd8f4a6-c628-48e9-a24b-14a586cb4275,emoore,eileen55@yahoo.com,2025-05-01,2025-05-04,Oman,27,Female,Console,BattleZone,...,Free,Ads,Co-op,Bronze,4209,2025-05-04,2025-04-28,2025-05-01,Sunday,3
9385,c761943d-6acd-4080-af41-36646b969fd7,edward67,melissaflores@ortiz-cooper.com,2025-05-02,2025-05-04,Reunion,41,Female,PC,SpeedRun,...,Free,Social Media,Multiplayer,Platinum,7095,2025-05-04,2025-04-28,2025-05-01,Sunday,2
9463,be7a7afa-5873-4bfe-8135-b9bd5926b82d,katherine29,matthew97@gmail.com,2025-05-05,2025-05-06,Cuba,43,Male,PC,QuestRaid,...,Gold,Social Media,Co-op,Bronze,6174,2025-05-06,2025-05-05,2025-05-01,Tuesday,1
9654,048377bb-079e-4aea-8e37-34f045fd44b7,scott11,trantracy@hotmail.com,2025-05-16,2025-05-17,Argentina,16,Male,Mobile,SpeedRun,...,Platinum,Ads,Solo,Platinum,2888,2025-05-17,2025-05-12,2025-05-01,Saturday,1

In [70]:
low_session_users

Empty DataFrame
Columns: [User_ID, Username, Email, Signup_Date, Last_Login, Country, Age, Gender, Device_Type, Game_Title, Total_Play_Sessions, Avg_Session_Duration_Min, Total_Hours_Played, In_Game_Purchases_Count, Total_Revenue_USD, Subscription_Tier, Referral_Source, Preferred_Game_Mode, Rank_Tier, Achievement_Score, login_date, login_week, login_month, Weekday, Days_To_Churn]
Index: []

[0 rows x 25 columns]

In [72]:
low_time_users

,User_ID,Username,Email,Signup_Date,Last_Login,Country,Age,Gender,Device_Type,Game_Title,...,Subscription_Tier,Referral_Source,Preferred_Game_Mode,Rank_Tier,Achievement_Score,login_date,login_week,login_month,Weekday,Days_To_Churn
15,0b9650a0-b453-4ca0-9fb0-0b0ff2e70f6f,anncochran,xadams@gmail.com,2024-09-04,2025-05-04,Northern Mariana Islands,20,Female,PC,QuestRaid,...,Gold,Social Media,Multiplayer,Bronze,820,2025-05-04,2025-04-28,2025-05-01,Sunday,242
20,db3a454b-0885-447d-bb2f-4bdbdff10889,jtorres,markwright@guzman-chapman.biz,2024-11-05,2025-05-18,Togo,18,Other,Mobile,QuestRaid,...,Free,Organic,Co-op,Silver,9191,2025-05-18,2025-05-12,2025-05-01,Sunday,194
56,24e527e3-1207-4613-bee4-404e74fccb02,taylorelizabeth,framirez@yahoo.com,2024-09-27,2025-05-09,Iceland,46,Female,Console,MysticWar,...,Gold,Friend,Multiplayer,Gold,9575,2025-05-09,2025-05-05,2025-05-01,Friday,224
118,b73c123f-8ef7-4488-8f7b-54667450de18,huffmanjonathan,lindseyanita@hotmail.com,2024-03-19,2025-05-11,British Virgin Islands,25,Female,PC,SpeedRun,...,Silver,Friend,Co-op,Gold,7468,2025-05-11,2025-05-05,2025-05-01,Sunday,418
164,c4360fa9-b792-47c7-b24e-2991d00753e8,adamsconnie,james10@gmail.com,2025-02-19,2025-05-15,Turkmenistan,47,Male,Console,SpeedRun,...,Platinum,Ads,Multiplayer,Silver,6179,2025-05-15,2025-05-12,2025-05-01,Thursday,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9806,0444407f-3953-4542-a7c4-a8122aeaade4,zshort,rachel50@gmail.com,2024-05-14,2025-05-01,Bolivia,28,Other,PC,SpeedRun,...,Silver,Organic,Multiplayer,Platinum,1908,2025-05-01,2025-04-28,2025-05-01,Thursday,352
9860,bef90c47-2c14-4200-8bb1-1d7b21f75de2,garciajacqueline,ogamble@hotmail.com,2024-11-23,2025-05-10,Cocos (Keeling) Islands,16,Other,Console,SpeedRun,...,Platinum,Social Media,Co-op,Diamond,3088,2025-05-10,2025-05-05,2025-05-01,Saturday,168
9901,1aacb021-bdfb-4211-98f0-0e38f4055f03,currymark,qvaughn@serrano-sanchez.com,2025-03-11,2025-05-20,El Salvador,41,Female,PC,MysticWar,...,Platinum,Ads,Multiplayer,Diamond,9459,2025-05-20,2025-05-19,2025-05-01,Tuesday,70
9945,585c307b-31a2-488a-b96d-b765e3f95e8d,jennifer06,ginasmith@yahoo.com,2024-08-14,2025-05-08,Saint Barthelemy,36,Other,PC,QuestRaid,...,Free,Organic,Solo,Bronze,7165,2025-05-08,2025-05-05,2025-05-01,Thursday,267
9964,9bc1fe43-40f4-407c-ac1d-777ada028af7,michael44,hcox@yahoo.com,2025-01-22,2025-05-08,British Indian Ocean Territory (Chagos Archipe...,46,Male,Mobile,SpeedRun,...,Silver,Organic,Multiplayer,Diamond,6243,2025-05-08,2025-05-05,2025-05-01,Thursday,106

In [74]:
# Count of early churners by country
early_churn_by_country = early_churners['Country'].value_counts().reset_index()
early_churn_by_country.columns = ['Country', 'Early_Churn_Count']

early_churn_by_country

                             Country  Early_Churn_Count
0                            Bermuda                  3
1                     Cayman Islands                  2
2                             Latvia                  1
3                             Belize                  1
4                        Afghanistan                  1
5                          Guatemala                  1
6                              Chile                  1
7                           Ethiopia                  1
8                              Benin                  1
9                             Uganda                  1
10                             Palau                  1
11                 Wallis and Futuna                  1
12                           Georgia                  1
13                           Uruguay                  1
14  Lao People's Democratic Republic                  1
15                              Oman                  1
16                           Reunion                  1
17                              Cuba                  1
18                         Venezuela                  1
19                            Brazil                  1
20                            Taiwan                  1
21         Bouvet Island (Bouvetoya)                  1
22                             Congo                  1
23                              Togo                  1
24                             Tonga                  1
25                       Isle of Man                  1
26                          Tanzania                  1
27                          Zimbabwe                  1
28                        San Marino                  1
29                    American Samoa                  1
30                  Pitcairn Islands                  1
31                             Kenya                  1
32                            Serbia                  1
33                             Niger                  1
34                           Morocco                  1
35                         Argentina                  1

In [76]:
# High-Value / High-Retention Users

# Top 10% users by revenue
high_value_threshold = df['Total_Revenue_USD'].quantile(0.90)
high_value_users = df[df['Total_Revenue_USD'] >= high_value_threshold]

high_value_users

,User_ID,Username,Email,Signup_Date,Last_Login,Country,Age,Gender,Device_Type,Game_Title,...,Subscription_Tier,Referral_Source,Preferred_Game_Mode,Rank_Tier,Achievement_Score,login_date,login_week,login_month,Weekday,Days_To_Churn
3,47fcbe87-a1c1-40c3-b450-1b5692f61538,christopher90,ttaylor@gmail.com,2023-09-28,2025-05-08,Belarus,23,Other,PC,QuestRaid,...,Silver,Friend,Multiplayer,Diamond,3591,2025-05-08,2025-05-05,2025-05-01,Thursday,588
41,525986ce-3f37-47ed-95eb-5dadff517593,michaelnicholson,stonecarl@ponce-russell.com,2023-08-31,2025-05-14,Gambia,16,Other,PC,SpeedRun,...,Gold,Social Media,Multiplayer,Bronze,4601,2025-05-14,2025-05-12,2025-05-01,Wednesday,622
45,51a4c311-58e8-4aa9-94b8-9046e74b3dd7,angela96,schmidtjoshua@davis.com,2023-06-23,2025-05-12,South Georgia and the South Sandwich Islands,13,Female,Console,MysticWar,...,Platinum,Friend,Multiplayer,Bronze,7860,2025-05-12,2025-05-12,2025-05-01,Monday,689
53,f0d9a6c7-e478-4c52-8ec7-8238cfc949d7,cherylsalinas,sextondawn@whitaker.net,2023-07-26,2025-05-19,Montserrat,34,Other,Mobile,SpeedRun,...,Silver,Social Media,Solo,Silver,6586,2025-05-19,2025-05-19,2025-05-01,Monday,663
67,9d829379-19ec-46bc-944e-d6f557799011,timothy15,anthony30@smith-kramer.com,2024-05-06,2025-05-14,Aruba,45,Male,Console,MysticWar,...,Silver,Social Media,Co-op,Bronze,6444,2025-05-14,2025-05-12,2025-05-01,Wednesday,373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9948,8564a0c6-8618-4ab5-a373-8414329ddcd8,brianjones,deannawade@hammond-sullivan.com,2023-12-13,2025-04-23,Maldives,36,Other,PC,MysticWar,...,Gold,Friend,Multiplayer,Gold,6582,2025-04-23,2025-04-21,2025-04-01,Wednesday,497
9949,02235c25-9223-4f31-8691-5ac876562b32,abbottdiana,gallowaybrian@yahoo.com,2023-06-10,2025-05-18,Cuba,28,Female,PC,QuestRaid,...,Platinum,Ads,Co-op,Gold,7768,2025-05-18,2025-05-12,2025-05-01,Sunday,708
9950,06534d5e-c976-497e-955b-464c96de9331,joseph24,swilliams@gmail.com,2024-01-22,2025-05-09,Saint Helena,37,Male,Mobile,BattleZone,...,Platinum,Organic,Multiplayer,Silver,2040,2025-05-09,2025-05-05,2025-05-01,Friday,473
9955,e817e49f-881a-4fa8-be69-2224337771b7,angelacarlson,hallbrandon@robbins.com,2024-11-04,2025-05-14,Vietnam,35,Other,Console,MysticWar,...,Gold,Social Media,Co-op,Platinum,9968,2025-05-14,2025-05-12,2025-05-01,Wednesday,191
9975,26564852-794f-44e0-bb25-a4c1c02aee7e,wendysmith,jevans@valenzuela.com,2024-01-02,2025-05-08,San Marino,47,Female,Mobile,BattleZone,...,Platinum,Organic,Multiplayer,Platinum,4051,2025-05-08,2025-05-05,2025-05-01,Thursday,492

In [78]:
# Longest retained users (maximum differece between signup and last login)
retained_users = df.sort_values(by='Days_To_Churn', ascending=False).head()
retained_users

,User_ID,Username,Email,Signup_Date,Last_Login,Country,Age,Gender,Device_Type,Game_Title,...,Subscription_Tier,Referral_Source,Preferred_Game_Mode,Rank_Tier,Achievement_Score,login_date,login_week,login_month,Weekday,Days_To_Churn
813,33dfa9f3-a652-49a1-bb9a-4dccba2a0d37,desiree95,baileystephanie@smith.info,2023-05-22,2025-05-20,Somalia,39,Other,Console,QuestRaid,...,Platinum,Friend,Co-op,Diamond,8817,2025-05-20,2025-05-19,2025-05-01,Tuesday,729
3662,75eb83ad-d486-42e7-93e8-9f741e0659e7,kayla42,andrewsroy@yahoo.com,2023-05-22,2025-05-19,Netherlands,27,Female,Mobile,SpeedRun,...,Gold,Friend,Multiplayer,Platinum,883,2025-05-19,2025-05-19,2025-05-01,Monday,728
2919,6bbb71dd-935c-4649-8dac-d46619a003d2,santosshaun,williamsbrooke@adams-jackson.info,2023-05-24,2025-05-21,Palau,23,Female,Console,MysticWar,...,Gold,Friend,Multiplayer,Silver,8918,2025-05-21,2025-05-19,2025-05-01,Wednesday,728
1106,0880fa97-0ed0-4962-b4d9-881b9ad53c5e,hwilliams,gleach@yahoo.com,2023-05-24,2025-05-20,Svalbard & Jan Mayen Islands,20,Male,Console,QuestRaid,...,Gold,Friend,Co-op,Platinum,9225,2025-05-20,2025-05-19,2025-05-01,Tuesday,727
8775,e4b236ec-4668-460b-a398-843809b81ee9,hsullivan,hjackson@woodard.com,2023-05-23,2025-05-19,Uganda,48,Other,Mobile,MysticWar,...,Silver,Friend,Multiplayer,Silver,6500,2025-05-19,2025-05-19,2025-05-01,Monday,727

In [80]:
top_10_revenue = high_value_users['Total_Revenue_USD'].sum()
print("Revenue from top 10% users: $", round(top_10_revenue, 2))

top_10_revenue

Revenue from top 10% users: $ 160631.05

160631.05000000002

In [82]:
# Suggestions to Improve Retention & Revenue

if early_churners.shape[0] / df.shape[0] > 0.3:
    print("ðŸš¨ High churn in first 3 days: consider onboarding improvements")

if df['In_Game_Purchases_Count'].mean() < 2:
    print("ðŸ’° In-game purchases are low â€” introduce time-limited offers or reward systems")

if df['Preferred_Game_Mode'].value_counts().idxmax() == 'Solo':
    print("ðŸŽ® Solo mode is most popular â€” expand content for solo players")

if df['Device_Type'].value_counts().idxmax() == 'Mobile':
    print("ðŸ“± Mobile dominates â€” optimize interface and ad monetization for mobile users")